@import url("./basic.css");

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.bg-black {
  background-color: var(--color-black);
}

li {
  list-style: none;
}

.menu {
  background-color: var(--color-black);
  text-align: center;
  margin-top: 100px;
}

.top-menu > li {
  position: relative;
  display: inline-block;
  width: 100px;
  padding: 15px 0;
}

.top-menu li a {
  display: inline-block;
}

.top-menu li {
  color: beige;
  position: relative;
}

.second-menu li {
  position: relative;
}

.second-menu {
  position: absolute;
  width: 120px;
  text-align: left;
}

.second-menu > li {
  padding: 10px;
  background-color: blue;
  top: 100%;
}

.mr-top {
  margin-top: 15px;
}

.second-menu .second-menu {
  position: absolute;
  top: 0;
  left: calc(100% - 1px);
}

.top-menu > li:hover {
  background-color: blue;
  display: inline-block;
}

.top-menu .second-menu {
  display: none;
}

.parent:hover > .second-menu {
  display: block;
}

.parent:hover {
  background-color: blueviolet;
}
