html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background: url("../../images/car2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

.title-text {
  text-align: center;
}

.forms {
  margin: 20px auto 10px;
  width: 80%;
  max-width: 300px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.background {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 228, 196, 0.548);
}
